{{ define "main" }}

<section class="sitemap-page">
    <header class="list-header">
        <div class="container">
            <h1>{{ .Title }}</h1>
            <p class="list-description">{{ i18n "sitemap_subtitle" }} {{ .Site.Title }}</p>
        </div>
    </header>

    <div class="sitemap-content">
        <div class="container container-narrow">

            <div class="sitemap-section">
                <h2>{{ i18n "main_pages" }}</h2>
                <ul class="sitemap-list">
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>

            {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
            <div class="sitemap-section">
                <h2><a href="{{ $taxonomy.Page.RelPermalink }}">{{ $taxonomy.Page.Title }}</a></h2>
                <ul class="sitemap-list">
                    {{ range $taxonomy.Pages.ByDate.Reverse }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <span class="sitemap-date">{{ .Lastmod.Format "02/01/2006" }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

        </div>
    </div>
</section>

{{ end }}
